/* erika */

.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 2rem;
}

.text-divider::before {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}
